# Rename this file to ".env" or create new ".env" file and paste variables

# Bot token, get one from https://t.me/botfather
BOT_TOKEN=YOUR_TOKEN

### Logging configuration ###

# Render mode: pretty with "console", or more production-like with "json"
# Warning: case-sensitive!
LOGGING_RENDERER=console

# Minimum logging level: DEBUG, INFO, WARNING, ERROR or CRITICAL
# Warning: case-sensitive!
LOGGING_LEVEL=INFO

# Datetime format for logs
LOGGING_FORMAT=%Y-%m-%d %H:%M:%S

# true/yes/1 if you want to show time in UTC timezone instead of computer's local tz
LOGGING_IS_UTC=no

# Default False. True/False if you want or don't want to use a proxy connection
PROXY_STATUS=False

# If True. Configurable settings for the proxy connection
PROXY_LOGIN=login
PROXY_PASSWORD=password
PROXY_ADDRESS=0.0.0.0
